:root {
    --updated: "<2022.0828 14:53:06>";
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: lightyellow;
}

.centext {
    text-align: center;
}

.codewrap {
    background-color: lightblue;
    padding-top: 12px;
    padding-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: solid darkblue 1px;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: stretch;
    align-items: stretch;
}

.text {
    grid-column: 2 / span 10;
}

.oview {
    border-radius: 5px;
    list-style-type: none;
    text-align: center;
    padding: 25px;
    grid-column-start: span 12;
    background-color: lightblue;
    margin-bottom: 2px;
}

.item {
    border-radius: 5px;
    list-style-type: none;
    text-align: center;
    padding: 25px;
    margin: 2px;
    grid-column-start: span 4;
    grid-row-start: span 3;
    background-color: lightgreen;
}

.dt-bullet {
    margin-bottom: 1em;
}

.gravimg {
    border-radius: 5px;
}

.lgrav {
    grid-column: 1 / 2;
    margin: 5px;
}

.title {
    grid-column: 2 / -2;
    // vertical-align: text-bottom;
    margin-top: 1.5em;
}

.h1 {
    text-align: center;
}

.rgrav {
    grid-column: -2 / -1;
    justify-self: right;
    margin: 5px;
}

.writing {
    grid-column: 1 / 7;
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}

.projects {
    grid-column: -7 / -1;
    border-top: solid black 1px;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
}

.github {
    grid-column: 1 / span 3;
    justify-self: center;
    //border: solid black 1px;
}

.travis {
    grid-column: 4 / span 3;
    justify-self: center;
    //border: solid black 1px;
}

.bitbucket {
    grid-column: 7 / span 3;
    justify-self: center;
    //border: solid black 1px;
}

/* add content to the app */
.needs-content {
    background-color: cyan;
}

.commit {
    grid-column: 1 / span 12;
    padding: 10px;
    justify-self: right;
    text-align: right;
    font-size: small;
    background-color: lightblue;
    border-radius: 5px;
    margin-top: 2px;
}

.panel {
    height: 100%;
    width: 100%;
}

.tiny {
    font-size: small;
}

.wrapper {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 5px;
    padding: 0px;
    justify-content: center;
}

/* Notes formatting */

.nt-container {
    display: grid;
    gap: 20px;
    grid-template-columns: minmax(10%, 20%) auto minmax(10%, 20%);
    background-color: lightyellow;
}

.nt-content {
    grid-column-start: 2;
    padding: 5px;
}

.nt-title {
    background-color: lightyellow;
    grid-column-start: 2;
    text-align: center;
    padding-top: 20px;
}

.nt-para {
    margin-bottom: 8px;
    margin-top: 8px;
}

ul {
    padding-left: 20px;
}

dt {
    font-weight: bold;
}
