:root {
    --updated: "<2022.0222 07:30:14>";
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.centext {
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    justify-items: stretch;
    align-items: stretch;
}

.text {
    grid-column: 2 / span 10;
}

.oview {
    border-radius: 5px;
    list-style-type: none;
    text-align: center;
    padding: 25px;
    grid-column-start: span 12;
    background-color: lightblue;
    margin-bottom: 2px;
}

.item {
    border-radius: 5px;
    list-style-type: none;
    text-align: center;
    padding: 25px;
    margin: 2px;
    grid-column-start: span 4;
    grid-row-start: span 3;
    background-color: lightgreen;
}

.dt-bullet {
    margin-bottom: 1em;
}

.gravimg {
    border-radius: 5px;
}

.lgrav {
    grid-column: 1 / 2;
}

.title {
    grid-column: 2 / -2;
}

.h1 {
    text-align: center;
}

.rgrav {
    grid-column: -2 / -1;
    justify-self: right;
}

.writing {
    grid-column: 1 / 7;
    border-top: solid black 1px;
    border-right: solid black 1px;
    border-bottom: solid black 1px;
}

.projects {
    grid-column: -7 / -1;
    border-top: solid black 1px;
    border-left: solid black 1px;
    border-bottom: solid black 1px;
}

.github {
    grid-column: 1 / span 3;
    justify-self: center;
    //border: solid black 1px;
}

.travis {
    grid-column: 4 / span 3;
    justify-self: center;
    //border: solid black 1px;
}

.bitbucket {
    grid-column: 7 / span 3;
    justify-self: center;
    //border: solid black 1px;
}

.needswork {
    background-color: yellow;   // the app needs attention of some kind
}

.lupdate {
    background-color: pink;    // last update block has been added to app
}

.needsjava {
    background-color: brown;    // add a js file for the app
}

.needscss {
    background-color: orange;    // add a css file for the app
}

.needs-content {
    background-color: cyan;      // add content to the app
}

.needs-blktrg {
    background-color: goldenrod;   // make link target="_blank"
}

.needs-ndesc {
    background-color: chocolate;   // describe app in notes
}

.needs-nfmt {
    background-color: gray;   // use notes-specific formatting
}

.needs-ntt {
    background-color: lightgray; // format tab title like "Notes: cpp"
}

.working {
    background-color: lightgreen;
}

.commit {
    grid-column: 1 / span 12;
    padding: 10px;
    justify-self: right;
    text-align: right;
    font-size: small;
    background-color: lightblue;
    border-radius: 5px;
    margin-top: 2px;
}

.panel {
    height: 100%;
    width: 100%;
}

.tiny {
    font-size: small;
}

.wrapper {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 100px 100px 100px;
    grid-gap: 5px;
    padding: 0px;
    justify-content: center;
}

/* Notes formatting */

.nt-container {
    display: grid;
    gap: 20px;
    grid-template-columns: 15% auto 15%;
    background-color: lightyellow;
}

.nt-content {
    grid-column-start: 2;
    padding: 5px;
}

.nt-title {
    background-color: lightyellow;
    grid-column-start: 2;
    text-align: center;
    padding-top: 20px;
}

.nt-para {
    margin-bottom: 10px;
}
