<h1><a href="https://github.com/tbarron">{{site.title}}</a></h1>
<br><a href="{{ site.baseurl }}/index.html">home</a>
<br><a href="{{ site.baseurl }}/bookmarks.html">bookmarks</a>
<br><a href="{{ site.baseurl }}/DODO.html">next steps</a>
<br><a href="{{ site.baseurl }}/blog.html">blog</a>
<br><a href="{{ site.baseurl }}/dailies.html">dailies</a>
<br><a href="{{ site.baseurl }}/reading.html">reading</a>
<br>&nbsp;
<hr>
<p style="font-size:75%">
  Hosting: <a href="https://pages.github.com">GitHub Pages</a>
  <br>Theme: Dinky
  <br>Last update: {{ site.time | date: "%Y-%m-%d %H:%M:%S" }}</p>
