:root {
    --updated: "<2022.0305 11:42:22>";
}

#container {
    display: grid;
    margin: 5px;
}

#controls {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#stopgo {
    width: auto;
}

#step {
    width: auto;
}

#sclabel {
    width: 75px;
}

#clear {
    width: 100px;
}

#rxc {
    border: none;
}

#stepcount {
    border: none;
}

#grid {
    border: 1;
    border-collapse: collapse;
}

#canvas {
    width: 100%;
    border: 1px solid black;
    // margin: 5px;
}
