:root {
    --updated: "<2022.0223 20:16:09>";
}

/* Reset to factory defaults (more or less) */
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    width: 100%;
    min-height: 100vh;
    background-color: lightyellow;
}

.cpp-container {
    display: grid;
    gap: 20p;
    grid-template-columns: 15% auto 15%;
    background-color: lightyellow;
    margin-top: 20px;
    margin-bottom: 20px;
}

.cpp-content {
    grid-column-start: 2;
    padding: 5px;
}

.cpp-buttons {
    grid-column-start: 2;
    grid-row-start: 4;
    margin: auto;
    padding: 15px;
}

#b_reset {
    width: 8em;;
    border-radius: 5px;
    background-color: lightgreen;
    padding: 5px;
}

.master {
    display: grid;
    grid-template-columns: auto 50%;
    padding: 5px;
}

#pkg {
    background-color: pink;
    border-radius: 5px 5px 0 0;
}

#wgt {
    background-color: skyblue;
}

#plb {
    background-color: lavender;
    border-radius: 0 0 5px 5px;
}

.cpp_label {
    grid-column-start: 1;
}

.cpp_input {
    grid-column-start: 2;
}

.fields {
    padding: 5px;
}

#cpp-title {
    background-color: lightyellow;
}

#cpp-desc {
    grid-column: 2;
    background-color: cream;
}

#unit_pp {
    width: 75px;
}

ul {
    list-style-type: default;
    list-style-position: outside;
    margin: 10px;
    padding: 10px;
}

li {
    padding: 10px;
}

