:root {
    --updated: "<2022.0410 19:33:18>";
}

#container {
    display: grid;
    align-items: center;
}

#solid_color {
    padding: 10px;
    // border: solid 1px black;
}

#page {
    height: 750px;
}
